@use '../globals/colors' as *;
@use '../utils/fonts' as *;
.oks-slider__buttons{
display: grid;
// grid-template-columns: repeat(2,1fr);
// border:1px solid red;
// grid-template-rows: 40px;
// gap:15px;

// max-width: 1000px;
//   width: 100%;
// //   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 210px));

//   display: flex;
  flex-wrap: wrap;
  gap: 20px;

margin-top: 30px;
    & a{
        border: none;
        background-color: $bg-color;
        letter-spacing: 3px;
        font-family: $font;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        transition: all 0.3s ease-in-out;
    }
    & a:nth-child(2){
        background-color: transparent;
        color: rgb(253, 253, 253);
        border: 1px solid rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }

    & a:nth-child(1):hover{
        // transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        color: $bg-color;;
        background: $button-accent-color;
    }
    & a:nth-child(2):hover{
      // transform: scale(1.05);
      transition: all 0.3s ease-in-out;
      color: $bg-color;;
      background: $button-accent-color;
      border: 1px solid $button-accent-color;
  }
}

