//700px 982px 

@use'functions';

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

@mixin breakpoint($size){
    @media (max-width:map-get($breakpoints, $size)){
        @content;
    }
}